<template>
  <v-app dark>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    </v-app-bar>
    <v-content fluid>
      <v-layout fill-height>
        <sidenavigation :active="drawer"/>
        <v-container style="display:flex" justify-center align-center>
          <nuxt ref="foo" />
         </v-container
      ></v-layout>
    </v-content>

    <v-footer :fixed="fixed" app>
      <span>&copy; Christian Kink 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import sidenavigation from "../components/sideNavigation/SideNavigation.vue";

export default {
  components: {
    sidenavigation,
  },
  
  mounted() {
    this.isMounted = true;
  },
  data() {
    return {
      isMounted: false,
      clipped: false,
      drawer: false,
      fixed: false
    };
  }
};
</script>
<style>
html {
  overflow: auto;
}
</style>
