$sidenav-width: 250px;

.sidenav-wrapper {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  max-width: $sidenav-width;
  min-width: $sidenav-width;
  margin-left: -$sidenav-width;
  background: #424242;
  height:100%;
  transition: 0.4s;
  height:100%;
  &.active {
    margin-left: 0;
  }
  .router-link-active{
    position:relative
  }
  .v-list-group--active{
    background: #545454
  }
  .router-link-active::before {
    content: "";
    left:0;
    top:0;
    height:100%;
    position:absolute;
    border-left: 4px solid black;
  }
}
