<v-row class="sidenav-wrapper align-self-stretch flex-column" no-gutters :class="{active: active}">
        <v-list >
                <template v-for="(item,i) in sideNavItems">
                        <v-list-item v-if="!item.subNav.length" :key="i" link :to="{name:item.pathName}">

                                <v-list-item-title>{{item.title}}</v-list-item-title>
                        </v-list-item>
                        <v-list-group v-else color="white">

                                <template v-slot:activator>
                                        <v-list-item-content>
                                                <v-list-item-title>{{item.title}}</v-list-item-title>
                                        </v-list-item-content>
                                </template>

                                <v-list-item :to="{name:subItem.pathName}" class="pl-6" v-for="(subItem, i) in item.subNav" :key="i"
                                        link>
                                        <v-list-item-title>{{calcSideNavName(subItem.title)}}</v-list-item-title>

                                </v-list-item>

                        </v-list-group>
                </template>
        </v-list>

        <v-spacer></v-spacer>
</v-row>